 <!-- ===============MAIN HEADER END ============ -->
      <!-- ===============MAIN BANNER START ============ -->
      <h1 *ngIf="raj">
         kapil is don
      </h1>
      <section class="minibanner" style="background-image: url('assets/images/min-banner.jpg');" >
        <div class="container">
           <div class="row">
              <div class="col-md-12 col-sm-12 col-12">
                <div class="MiniBannerDiv" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                 <div class="MiniBannerContent">
                    <hr class="BeforeHr">
                    <h5>Login</h5>
                    <hr class="afterforeHr">                   
                 </div>
              </div>
            </div>
           </div>
        </div>
     </section>
 <!-- =====contact banner Section======= -->
  <!-- =====Get in touch Section======= -->
     <section class="LoginSection mrT70" style="background: url(assets/images/welcome-icon-bg-3.png);">
        <div class="container">
           <div class="LoginYab">
              <div class="row justify-content-center">
                 <div class="col-md-9 col-sm-9 col-12">
                    <div class="LoginMain">
                       <div class="mainHeadingBox text-center">
                          <div class="row justify-content-center">
                             <div class="col-md-12 col-sm-12 col-12">
                                <div class="headein_top headingCenter">
                                   <h2>Login</h2>
                                </div>
                              </div>
                          </div>
                       </div>
                       <div class="LoginFrom"  data-aos="fade-down" data-aos-duration="3000">
                          <form>
                             <div class="row justify-content-center">
                               
                                <div class="col-md-12 col-sm-12 col-12">
                                   <div class="form-group LoginInput">
                                      <label for="exampleInputEmail1">enter email</label>
                                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="random@gmail.com">               
                                   </div>
                                </div>

                                 <div class="col-md-12 col-sm-12 col-12">
                                   <div class="form-group LoginInput">
                                      <label for="exampleInputEmail1">enter Password</label>
                                      <input type="password" class="form-control" id="examplepassword1" aria-describedby="emailHelp" placeholder="1234567890">               
                                   </div>
                                </div>
                             
                             <div class="col-md-12 col-sm-12 col-12">
                                <button type ="submit" class="LoginInBtn" (click)="submit()">Submit</button>
                             </div>

                             

                             <div class="ForgetDiv">
                                <a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a  class="signup" (click)="register()" style="color: #9c4f8f;cursor:pointer;">Signup</a>
                             </div>
                    </div>
                    </form>
                 </div>
              </div>
           </div>
        </div>
        </div>
        </div>
     </section>
<!-- =====Get in touch Section======= --> 
