/*=========TOP SECTION START======*/
section.top-section {
    padding: 13px 0px;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.1);
    position: relative;
    z-index: 99;
    /*box-shadow: 0 4px 10px rgba(0,0,0,.15)*/
}
.main-top {
    padding-top: 15px;
}
.left-top {
    padding-top: 10px;
}
.left-top p {
    font-size: 14px;
    font-family: Montserrat-Medium;
    margin-bottom: 10px;
    padding-top: 0px;
    color: #474747;
}
.left-top p a {
    color: #000;
    font-family: Montserrat-Medium;
    transition: all 0.5s;
    position: relative;
    padding-left: 25px;
    display: block;
    color: #474747;
    font-size: 12px;
}
.left-top p a:hover {
    color: #aa4b88;
}
.left-top p i {
    padding-right: 0px;
    font-size: 16px;
    position: absolute;
    left: 0;
}
.middle-top {
    float: right;
    margin-right: 25px;
    margin-top: 6px;
}
.middle-top ul li {
    display: inline-block;
    transition: all 0.9s;
}
.middle-top ul li a {
    transition: all 0.5s;
}

.middle-top ul li:hover{
   -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari 3-8 */
    transform: rotate(360deg);
}
.right-top {
    padding-top: 4px;
}
.right-top a {
    padding: 5px 7px;
    color: #9c4f8f;
    border-radius: 100px;
    margin-top: 0px;
    display: block;
    width: 100%;
   /* max-width: 123px;*/
    max-width: 183px;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat-Medium;
    border: 1px solid #9d4f8e;
    font-size: 15px;
    font-weight: bold;
}
/*.right-top a:hover {
    color: #fff;
    transition: all 0.4s ease 0s;
    border: 1px solid #9d4f8e;  
}*/
/*.right-top img {
    width: 100%;
     transform: scale(1.0);
    transition: all 0.7s;
}
.right-top img:hover {
    transform: scale(1.1);
}*/
/*=========TOP SECTION END======*/
/*=========HEADER SECTION START======*/
.main-header {
    background:#fff;
}
.my-navbar{
    padding: .5rem 0rem;
}
.mynavbar-ul .active a {
    color: #aa4b88 !important;
}
.mynavbar-ul li a {
    font-family: Montserrat-Medium;
    font-size: 14px;
    color: #333 !important;
    text-transform: uppercase;
    padding: 8px 18px 8px 18px !important;
}
.mynavbar-ul li a:hover {
    color: #aa4b88 !important;
}
.Mylogo{
  width: 100%;
  max-width: 85px;
}
.dropdown.MydropDown .dropdown-menu {
    border: 0px;
    background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    box-shadow: rgba(2, 2, 2, 0.06) 0px 0px 50px;
        margin: 0;
}

.dropdown.MydropDown .dropdown-menu .dropdown-item {
 color: #fff !important;
}
.dropdown.MydropDown .dropdown-menu .dropdown-item:hover, .dropdown.MydropDown .dropdown-menu .dropdown-item:focus {
    background: unset;
    color: #d0d0d0 !important;
}
.dropdown.MydropDown:hover .dropdown-menu{
display: block;
}
/*=========HEADER SECTION END======*/
/*==========BANNER SECTION CSS START=======*/
.myitem{
    background-size: cover !important;
    background-position: center !important;
    height: 680px !important;
}
.SmallBanner img {
    width: 100%;
    padding: 23px;
}
.SmallBannerContent {
    padding-top: 100px;
}
.SmallBannerContent h1 {
    font-size: 50px;
    margin-bottom: 50px;
}
.SmallBannerContent p {
    font-size: 14px;
}
.banner-content h1 {
    display: inline-block;
    position: relative;
}
.banner-content h1::before {
    position: absolute;
    left: 0;
    bottom: -8px;
    content: "";
    height: 7px;
    width: 82px;
    background: #fff;
    margin: 0px auto;
    right: 0;
}
.main-banner .owl-prev, .main-banner .owl-next {
position: absolute;
    top: 50%;
    left: 14px;
    display: block;
    width: 70px;
    height: 70px;
    box-shadow: 0px 15px 20px 0px rgba(209, 218, 235, 0.35);
    border-radius: 50%;
    /* margin: 0 auto 405px; */
    line-height: 70px;
    text-align: center;
    color: #7494b5;
    font-size: 35px;
}
.main-banner .owl-next {
    right: 16px !important;
    left: unset;
    background: #fff;
}
.main-banner .owl-dots{
     display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.main-banner .owl-dots{
     display: block;
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}
.main-banner .owl-dot {
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    margin: 0px auto;
    margin-left: 4px;
    border: 2px solid #fff;
}
.owl-dot.active {
    background: none;
    border: 2px solid #fff;
}
/*==========BANNER SECTION CSS END=======*/
/*==========TOPTHREE SECTION CSS START=======*/
section.TopThreeSection {
    position: relative;
     margin-top: -50px;
    z-index: 9;
    padding-bottom: 60px;
    /* background: #f7f7fa; */
}
.TopThreeBox{
    box-shadow: rgba(2, 2, 2, 0.06) 0px 0px 50px;
    background-color: rgb(255, 255, 255);
    padding: 80px 50px 60px;
    border-width: 0px;
    border-radius: 5px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    text-align: center;
   /* position: absolute;*/
    z-index: 1;
    height: 370px;
    transition: all 0.5s ease-out 0s;
    transform: rotateY(0deg);
}
.TopImg {
    margin-bottom: 14px;
}
.TopImgContent span {
    height: 6px;
    width: 29px;
    background: #bc4680;
    margin: 0px auto;
    display: block;
    margin-bottom: 16px;
}
.TopImgContent h3 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.TopImgContent p {
    color: #727272;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.TopThreeBox.active{
    background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
}
.TopThreeBox.active span{
    background: #fff;
}
 .TopThreeBox.active h3, .TopThreeBox.active p{
    color: #fff;
}
.ReadMoreBanner {
    color: #2653e3;
    border: 1px solid #fff;
    padding: 6px 10px;
    border-radius: 100px;
    margin-top: 23px;
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 0px auto;
    transform: all 0.5s;
}
.TopThreeBox.active .ReadMoreBanner {
    color: #fff;
    }
.ReadMoreBanner:hover {
    background: #fff;
    color: #a34d8b !important;
}
.ReadMoreBanner:hover i {
    padding-left: 5px;
}
/*==========TOPTHREE SECTION CSS END=======*/
/*==========ABOUT SECTION CSS start=======*/
section.about-section {
    /*background-repeat: no-repeat !important;*/
    position: relative;
    /*background-size: auto !important;
    background-position: center !important;
        background-attachment: scroll !important;*/
            margin-bottom: 70px;
}
/*===========ABOUT SECTION START=======*/
.about-section{
    background-color: #f2f3f5;
    position: relative;
    padding-bottom: 100px;
}
.inner-columnpara h1 {
 font-family: Roboto-Medium;
    font-size: 14px;
    position: relative;
    color: #000;
    display: inline-block;
}
.inner-columnpara {
    padding: 30px;
}
.inner-columnpara p {
    margin-bottom: 40px;
    font-size: 13px;
    line-height: 22px;
    color: #000;
    font-weight: 400;
    margin-top: 10px;
    /* padding: 24px; */
}
.AboutImg img{
    box-shadow: 0 30px 50px rgba(8,13,62,.15);
}
.about-section .image2 {
    position: absolute;
    bottom: -69px;
    left: auto;
    right: 0;
}
.about-section .video-link {
    position: absolute;
      top: auto;
    bottom: 55px;
    left: 180px;
}
.about-section .video-link a {
    position: relative;
    display: block;
    font-size: 22px;
    color: #191e34;
    font-weight: 400;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 30px 50px rgba(8,13,62,.15);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.about-section .video-link a:hover {
    background-color: #191e34;
/*    background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );*/
    color: #ffffff;
}
.readbtn a {
    padding: 5px 20px;
    color: #9c4f8f;
    border-radius: 100px;
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat-Medium;
    border: 1px solid #9d4f8e;
    font-size: 15px;
    font-weight: bold;
}
.readbtn a i {
    padding-left: 6px;
    font-size: 16px;
}

/*===========ABOUT SECTION END=======*/

/*=======================Channel Section ENd Css================*/
.padding-b-half {
    padding-bottom: 60px !important;
}
.padding-t-half {
    padding-top: 30px;
}
.headein_top h2 {
    position: relative;
    margin-top: 15px;
    color: #cf4177 ;
    font-size: 35px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.headein_top h2:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 30px;
    height: 1.5px;
    background: #cf4177;
}
.headein_top h2:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 50px;
    height: 1.5px;
    background: #cf4177;
}
.headingCenter h2:after, .headingCenter h2:before{
    margin: 0px auto;    
    right: 0;
    margin-top:10px; 
}
section.chanel-section {
    background: #bfc3d621;
}
.channel-wrap {
    overflow: hidden;
}
.shadow-2 {
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
}
.bgwhite {
    background: #fff;
}
.channel-box {
    padding: 25px 35px;
    text-align: center;
    border-radius: 25px;
    position: relative;
    margin-top: 50px;
    transition: all 0.5s ease;
}
/*.channel-tag {
    left: 0;
    position: absolute;
    right: 0;
    top: -125px;
}
.channel-tag img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}*/
.channel-icon {
    margin-bottom: 31px;
    margin-top: 13px;
    transition: all 0.5s;
}
.channel-icon i {
    font-size: 50px;
    transition: all 0.5s;
}
.red-1 {
    color: #3f4f9c;
}
.channel-title {
    margin-bottom: 14px;
}
.channel-title h5 {
    color: #cf4177;
    font-family: Roboto-Black;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: capitalize;
    transition: all 0.5s;
}
.channel-box:hover {
    background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
}
.channel-disc p{
    transition: all 0.5s;
}
.channel-box:hover i {
    color: #fff;
    transition: all 0.5s;
}
.channel-box:hover h5 {
    color: #fff;
    transition: all 0.5s;
}
.channel-box:hover p {
    color: #fff;
    transition: all 0.5s;
}

.service-title h5 {
    letter-spacing: 1px;
}
section.services-section {
    /* background: -moz-linear-gradient(7deg, rgba(71,48,145,1) 0%, rgba(0,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(71,48,145,1)), color-stop(100%, rgba(0,255,255,1)));
    background: -webkit-linear-gradient(7deg, rgba(71,48,145,1) 0%, rgba(0,255,255,1) 100%);
    background: -o-linear-gradient(7deg, rgba(71,48,145,1) 0%, rgba(0,255,255,1) 100%);
    background: -ms-linear-gradient(7deg, rgba(71,48,145,1) 0%, rgba(0,255,255,1) 100%);
    background: linear-gradient(83deg, rgba(71,48,145,1) 0%, rgba(0,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#473091', endColorstr='#00ffff',GradientType=1 );
}
*/
}
h2.text-white {
    color: #fff;
}
.text-white-h h2:before {
    background: #fff !important;
}
.text-white-h h2:after {
    background: #fff !important;
}
a.read-more {
    font-size: 16px;
    color: #fff;
    background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 100px;
    transition: all 0.5s;
}
/*=======================Services Section ENd Css================*/
/*=======================COUNTER Section START Css================*/
section.counter-wrper {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 120px 0px;
}
section.counter-wrper::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
   background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    opacity: 0.8;
}
.counter-inner {
    max-width: 860px;
    margin: 0 auto;
}
.counter-inner .headein_top {
    text-align: center;
    margin-bottom: 45px;
}
.counter-inner .headein_top h2 {
    color: #fff;
}
.counter-inner .headein_top h2:before, .counter-inner .headein_top h2:after {
    background: #fff;
}
.counter-box {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 9px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
        transition: all 0.5s;
}
.counter-box:hover{
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.counter-box h1 {
    color: #fff;
     font-size: 42px;
}
.counter-box:hover h1{
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.counter-box p {
    color: #fff;
}
.counter-box:hover p{
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.counter-inner {
    max-width: 860px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 99;
}
.counter-inner > h1 {
    color: #fff;
    padding-bottom: 35px;
    font-size: 30px;
    position: relative;
    top: -15px;
}
.counter-ctnn p {
    color: #fff;
    line-height: 26px;
    text-align: center;
    padding-top: 15px;
    font-size: 16px;
}
.counter-box img {
    width: 100%;
    max-width: 40px;
    margin: 0px auto;
    margin-bottom: 9px;
}
/*=======================COUNTER Section ENd Css================*/
/*=======================TESTIMONIAL Section ENd Css================*/
#testimonialsmy .owl-nav {
    display: none !important;
}
.heading-testimonials.text-center {
    margin-bottom: 20px;
}
.heading-testimonials h1 {
    font-size: 45px;
    margin-bottom: 8px;
    margin-top: 4px;
}
section.testimonials {
    background: #fafafa;
    position: relative;
    padding: 94px 0 71px;
    overflow: hidden;
    background: url(../images/welcome-icon-bg-3.png);
}
#testimonialsmy{
    position: relative;
}
#testimonialsmy:before {
    content: url(../images/icon36.svg);
    position: absolute;
    right: 0;
    top: -143px;
    z-index: -1;
}
.customer-block {
    padding: 72px 40px 50px 45px;
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 30px 0px rgba(244, 245, 249, 0.8);
    margin: 10px 15px 30px;
}
.customer-block:before {
   /* content: url(../images/icon35.svg);*/
	content:'';
    position: absolute;
    top: 50px;
    left: 45px;
}
.customer-block p {
    font-size: 20px;
    line-height: 35px;
    padding-bottom: 21px;
    text-align: center;
}
.customer-block .customer-img {
    width: 120px !important;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 20px;
    /*float: left;*/
}
.customer-block .customer-info {
   /* padding-left: 25px;*/
    text-align: center;
    /*float: left;*/
}
.customer-block .customer-info .name {
    font-size: 20px;
    color: #9c4f8f;
    padding: 5px 0 2px;
}
.customer-block .customer-info span {
    color: #9c4f8f;
}
/*=======================TESTIMONIAL Section ENd Css================*/
/*=========OUR GOAL SECTION CSS start======*/
section.news_sec .our_goal, .transport_news {
    padding: 90px 14%;
}
.PayBk{
    background: #fff;
}
.news_sec .our_goal {
    background: #ffffff;
    box-shadow: 0px 0px 1px 0px #ccc;
}
.news_sec .transport_news {
    background: linear-gradient(0deg, #fff 0%, #edeff4 20%);
}
.our_goal h2, .transport_news h2, .getin_content h2 {
    font-family: Montserrat-Medium;
    position: relative;
    margin-bottom: 70px;
}
.our_goal h2:after ,.transport_news h2:after ,.getin_content h2:after{
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    background-color: #ec0000;
    width: 40px;
    left: 0;
    bottom: -12px;
}
.goal_img {
    width: 100%;
    border-radius: 4px;
}
.our_goal h5 {
    margin-top: 20px;
    font-family: Montserrat-Medium;
    margin-bottom: 18px;
}
.our_goal p{
  color: #666;
}
.new_content h5 {
    font-family: Montserrat-Medium;
    margin-bottom: 10px;
    line-height: 28px;
}
.new_content p {
  color: #666;
}
.news_img {
    width: 100%;
    border-radius: 4px;
}
section.getintouch_sec {
    padding: 50px 3% 0;
}
.getin_content input, .getin_content textarea {
   height: 48px;
}
.getin_content input:focus, .getin_content textarea
:focus {
    outline: none;
    box-shadow: none;
}
.getin_content .input-group button {
    color: #032d57;
    height: 48px;
}
.getin_content .send_btn {
    font-family: Montserrat-Medium;
    border: 1px solid #9d4f8e;
    color: #9c4f8f;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 50px;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 15px;
}

/*=========OUR GOAL SECTION CSS start======*/
/*=========Footer CSS start======*/
section.media-wraper .container-fluid {
    padding: 0px;
    overflow: hidden;
}
section.newslater-wrper {
     background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    padding: 50px 0px;
}
.newslater-ctn h2 {
    color: #fff;
    font-family: Montserrat-Medium;
    font-size: 20px;
}
.newslater-ctn p {
    color: #fff;
    font-size: 20px;
    padding-top: 10px;
}
span.text-colr {
    font-size: 50px;
    font-weight: bold;
    padding: 0px 4px;
    position: relative;
    top: 10px;
    color: #fff;
}
.input-bx input {
    width: 75%;
    border-radius: 25px;
    padding: 11px 25px 11px;
    border: 1px solid #ccc;
}
.input-bx button {
   background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
       color: #fff;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    border: 2px solid #fff;
    padding: 8px 31px 12px;
    border-radius: 25px;
    position: relative;
    right: 50px;
    cursor: pointer;
    top: -2px;
    font-size: 17px;
    font-weight: bold;
}
.input-bx {
    padding-top: 20px;
    padding-left: 15px;
}

section.footer-wrpwr {
    background: #fff;
    padding: 50px 0px 20px;
}
.footer-logo {
    text-align: center;
}
.footer-social ul li {
    display: inline-block;
    margin: 15px 1px;
}
h1.menu-title {
    font-size: 16px;
    color: #333;
    font-family: Montserrat-Medium;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 26px;
}

.footer-menu ul li a {
    color: #333;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    font-family: Montserrat-Medium;
    font-size: 14px;
    position: relative;
    padding-left: 12px;
}
.footer-menu ul li {
    margin: 10px 0px;
}
.foterolog-immg img {
    width: 100%;
    max-width: 123px;
}
.footer-menu ul li a i {
    position: absolute;
    left: 0px;
    top: 1px;
}
.footer-logo .middle-top {
    float: unset;
    margin-right: 0;
    margin-top: 6px;
}
.secsectionmenu{
    padding-top: 15px;
}
p.Copyright {
    color: #333;
    text-align: center;
    margin: 0;
    font-size: 17px;
    padding-top: 10px;
}

span.digit.static {
   background: #9c4f8f;
   padding: 16px;
   color: #333;
   border-radius: 14px;
   font-weight: bold;
   font-size: 30px;
}
div#countdown {
    padding-top: 34px;
}
.LogoImg {
    padding-top: 38px;
}
.Prodesc {
   padding: 0px 16px;
}
.topbar .top-right ul li .Prodesc p.FRstpara {
   font-size: 14px;
   color: #000;
   font-weight: bold;
}
.topbar .top-right ul li p {
    max-width: 166px;
    color: #a6a6a6;
    margin-bottom: 4px;
}
.top-right ul li span {
   color: grey;
   font-size: 12px;
}
.top-right ul li span.ProPrice {
   display: inline-block;
   font-size: 22px;
   color: #9c4f8f;
   padding: 0;
}
.top-right ul li {
display: inline-block;
float: left;
font-size: 14px;
}
.top-right img {
display: inline-block;
margin: 0 auto;
padding-bottom: 8px;
width: 100%;
max-width: 100px;
}
.buynow-btn {
background: #FF9902;
color: #fff !important;
padding: 6px 20px 8px;
text-align: center;
font-family: Montserrat-Medium;
font-size: 12px;
border: 1px solid #FF9902;
text-transform: uppercase;
}
.topbar a {
color: #A5A5A5;
font-size: 12px;
text-transform: capitalize;
}
.topbar img {
display: block;
margin: 0 auto;
padding-bottom: 8px;
}
.top-right span {
    font-size: 22px;
    font-family: Montserrat-Medium;
    color: #B32535;
    display: block;
    padding: 2px 10px;
}
.footer-menu ul li a:hover {
color: #9c4f8f;
}
/*=========Footer CSS END======*/
/*=========CONTACT PAGE CSS START======*/
.minibanner {
    background-repeat: no-repeat;
    height: 350px;
    background-size: cover !important;
    /*background-position: center !important;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.minibanner::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
.MiniBannerDiv {
    position: relative;
    z-index: 9;
}
.MiniBannerContent {
    text-align: center;
}
.MiniBannerContent h5 {
    font-size: 30px;
   font-family: Montserrat-Medium;
    color: #fff;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    display: inline-block;
    margin: 0px 10px;
}
.MiniBannerContent p {
    color: #fff;
    font-size: 16px;
   font-family: Montserrat-Medium;
    margin-bottom: 5px;
}
.MiniBannerContent hr {
    display: inline-block;
    width: 123px;
    height: 1px;
    border: none;
    background: #fff;
    position: relative;
    top: 8px;
}
.BanerBotm ul.BackList li a:hover {
    color: #9c4f8f;
}
section.LoginSection{
    padding-bottom: 70px;
}
.LoginMain .nav-pills .nav-link.active, .LoginMain .nav-pills .show>.nav-link {
    color: #363636;
    background-color: transparent;
    border-bottom: 3px solid #b22436;
}
.LoginMain li.nav-item {
    width: 100%;
    max-width: 215px;
}
.LoginMain .nav-pills .nav-link {
    color: #363636;
    font-size: 30px;
    border-radius: 0px;
     font-family: Montserrat-Medium;
     text-transform: capitalize;
      border-bottom: 1px solid #eaeaea;
}
.form-group.LoginInput {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.LoginInput label {
    font-size: 12px;
    color: #000;
   font-family: Montserrat-Medium;
    text-transform: capitalize;
    padding: 10px 0px 0px 0px;
    margin-bottom: 0;
    letter-spacing: 0.5px;
}
.form-group.LoginInput input, .form-group.LoginInput textarea {
    border: none;
    height: 60px;
    padding-left: 0;
}
.form-group.LoginInput input::placeholder {
  font-family: Montserrat-Medium;
     font-size: 16px;
    color: #ccc;
}
.form-group.LoginInput textarea::placeholder{
      font-family: Montserrat-Medium;
     font-size: 16px;
    color: #ccc;
}
.forgot-password {
    color: #B32436;
    float: right;
    padding: 12px 0px;
    font-size: 13px;
}
.LoginInBtn {
    background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    color: #fff;
    font-size: 14px;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: Montserrat-Medium;
    width: 100%;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
.LoginInBtn:hover {
  background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    color: #fff;
}
.NewUser p {
    text-align: center;
    font-size: 13px;
   font-family: Montserrat-Medium;
    color: #8B8893;
    padding-top: 12px;
}
.NewUser p a {
    color: #B32436;
    text-transform: capitalize;
    font-weight: bold;
}
.Frstpara {
    padding-top: 20px;
}
section.TopThreeSection.ThreeContPage {
    position: relative;
    margin-top: 0;
    z-index: 9;
    padding-bottom: 60px;
    background: #f7f7fa;
    padding-top: 70px;
}
section.TopThreeSection.ThreeContPage .TopThreeBox{
    transition: all 0.5s;
}
section.TopThreeSection.ThreeContPage .TopThreeBox:hover{
  background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
}
section.TopThreeSection.ThreeContPage .TopThreeBox:hover .TopImgContent h3{
    color: #fff;
}
section.TopThreeSection.ThreeContPage .TopThreeBox:hover .TopImgContent span{
    background: #fff;
}
section.TopThreeSection.ThreeContPage .TopThreeBox:hover .TopImgContent p{
    color: #fff;
}
.TopImg.ContIcon i {
    font-size: 60px;
}
section.TopThreeSection.ThreeContPage .TopThreeBox:hover .TopImg.ContIcon i{
    color: #fff;
}
.TopImgContent.CNumber p {
    margin-bottom: 4px;
}
.TopImgContent.CNumber p a {
    color: #727272;
}
section.TopThreeSection.ThreeContPage .TopThreeBox:hover .CNumber p a{
    color: #fff;
}
/*=======contact page  end========*/

/*=========about page CSS start======*/
.ourservices {
  /*  background-image: url(./images/service.png);*/
    background-size: cover;
    padding: 15px 0 80px 0;
    background-position: 121px;
}
.parent_services {
    padding-top: 7px;
}
.myicons{
    background: gray;
    height: 75px;
    width: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 36px;
    color: #fff;
    border: 2px double #757575;
    border-radius: 1px;
    transition: all 0.5s;
}
.myicons i{
    transition: all 0.5s;
}
.myicons:hover i{
  margin-left: -10px;
}
.features-icon{
  padding-right: 0;
}
.my_secnt h3 {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.3px;
    margin-bottom: 5px;
}
.my_secnt p {
    font-size: 16px;
    color: gray;
    line-height: 18px;
}
.my-servicess {
    margin-top: 40px;
}
.my_secnt h3 a {
    color: #000;
}
.ours_srevicess {
    padding: 80px 0;
    padding-bottom: 0;
}
section.OurTeam {
    padding: 50px 0px;
    background: #f1f1f1;
}
.MainTeam {
    margin-top: 50px;
}

.ours_imgs2 img {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    display: block;
}
.tp_headerss h6 {
    font-size: 21px;
    letter-spacing: 0.8px;
    color: #989898;
    font-weight: normal;
}
.my_dtImgs {
    margin-top: 25px;
}
.ours_imgscnts {
    padding-left: 50px;
    padding-top: 100px;
}
.ours_srevicess hr {
    border-color: #e8e8e8;
    margin: 60px 0 50px;
}
.my_TImg {
    position: absolute;
    bottom: -56px;
    left: 0;
    transition: all 0.5s;
    opacity: 0;
    width: 100%;
    text-align: center;
}
.mont-font {
    text-align: center;
    opacity: 0;
    bottom: 0;
    transition: all 0.5s;
}
.my_sd_Imgs:hover .my_TImg {
    opacity: 1;
    bottom: 0;
    background: rgb(255 255 255);
    width: 100%;
    padding: 10px;
    box-shadow: 0px 10px 31.68px 0.32px rgba(172, 172, 172, 0.22);
}
.my_TImg h2 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.my_TImg h6 a {
    margin: 0;
    font-size: 21px;
    letter-spacing: 0.8px;
    color: #000;
    font-weight: normal;
}
.my_prd_images:hover h3 {
    opacity: 1;
    color: #fff !important;
    margin-top: -50px;
    background: rgba(255,255,255,0.2);
    padding: 10px 10px 17px 10px;
}
.my_sd_Imgs img{
  width: 100%;
  transition: all 0.5s;
}
.my_prd_images:hover img {
    opacity: 0.5;
}
.my_sd_Imgs {
    position: relative;
    transition: all 0.5s;
    overflow:hidden;
    background: #000;
}
.my_dtImgs p {
    font-size: 17px;
    border-left: 4px solid #9c4f8f;
    padding-left: 17px;
    margin: 0;
    color: black;
}
.tp_headerss h3 {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.my_TImg ul{
    margin-top: 10px;
}
.my_TImg ul li{
    display: inline-block;
}
.my_TImg ul li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 36px;
    background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    color: #fff;
    font-size: 13px;
    border-radius: 50px;
    margin: 0 3px;
    text-align: center;
}
.my_TImg ul li a i{

}
/*=========about page CSS end======*/

/*=========by book page CSS start=====*/
section.Buy_booksectn {
    background-color: #f9f9f9;
    padding-top: 100px;
}
.book_left {
    height: 500px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position:relative;
}
.book_right {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 400px;
    position: absolute;
    bottom: 103px;
    right: -209px;
    padding: 30px;
    background: #fff;
}
.Book_contnt h3 {
    color: #444;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 22px;
    text-decoration: underline;
}
.Book_contnt p {
    font-size: 12px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 25px;
}
.Price_div span {
    color: #555;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
}
.Price_div .right-top {
    display: inline-block;
    float: right;
}
.Price_div .right-top a {
    padding: 7px 13px;
    font-size: 13px;
}
.book_right.Second_right {
    left: -209px;
}
.Book_main {
    padding-bottom: 100px;
}
/*=========by book page CSS end======*/

/*=========video page CSS start======*/

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    background: transparent;
    padding: 10px 33px;
    color: #9c4f8f;
    border-radius: 100px;
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat-Medium;
    border: 1px solid #9d4f8e;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}
.btn-default:active .filter-button:active{
    background-color: #42B32F;
    color: white;
}
.port-image{
    width: 100%;
}

.gallery_product{
    margin-bottom: 30px;
}

.Video-main {
    text-align: center;
    margin-bottom: 50px;
}
/*=========video page CSS end======*/
/*==========portfolio page css START=======*/
.GalICon {
    position: relative;
    font-size: 33px;
    color: #ffff;
}
.EventBoxMain.VideoGal ul{
    text-align: center;
width: 100%;
margin: 0px auto;
display: block;
}
.EventBoxMain.VideoGal ul li {
text-align: center;
display: inline-block;
}
.EventBoxMain ul li .btn {
    color: #aaaaaa;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 10px 12px;
}
.EventBoxMain ul li .btn.active {
    color: #9c4f8f;
    background: transparent;
}
.EventBoxMain ul li .btn:hover {
    color: #9c4f8f;
}
.EventBoxMain ul li .btn:focus{
    box-shadow:unset;
}
section.EventSection {
    padding: 100px 0px;
}
.EventBoxMain ul li a::after {
    content: "/";
    margin-left: 28px;
    color: #aaaa;
}
.EventBoxMain ul li:last-child ::after {
display: none;
}
section.EventSection .right-top a {
    margin: 0px auto;
    font-size: 16px;
    padding: 12px 3px;
    max-width: 173px;
}
.lightgallery h4 {
    text-align: center;
    padding: 15px 0px;
    font-size: 16px;
    color: #9c4f8f;
}
/*.vleftimg.lightgallery {
    height: 495px;
    position:relative;
}
.vleftimg.lightgallery img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
}*/
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
  }

  .MainPortfolio a:hover .overlay {
    opacity: 1;
    visibility: visible;
}
  .Video_left h4 {
    padding-top: 22px;
}
.Video_left:hover img {
    transition: all .5s;
    /* transform: scale(1.1); */
}
.MainPortfolio a{
    position: relative;
    display: block;
   /* height: 100%;*/
    width: 100%;
}
.overlay i.GalICon {
    font-size: 40px;
    position: absolute;
    top: 44%;
    left: 0;
    right: 0;
    text-align: center;
}
.EventBoxMain ul li.MainPortfolio a::after {
   display: none;
}
.EventBoxMain.VideoGal .demo-gallery ul {
   display: flex;
}
.GalSection .EventBoxMain.VideoGal ul li {
    margin-bottom: 50px;
}
/*==========portfolio page css end=======*/
/*========BLOG SECTION CSS START=======*/
.BlogMain {
    position: relative;
    margin-bottom: 50px;
}
.BlogFullImg a {
    position: relative;
    display: table;
}
.BlogFullImg a:after {
    overflow: hidden;
    position: absolute;
    top: 0;
    content: "";
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    z-index: 1;
}
.BlogFullImg a:before {
    font: normal normal normal 18px/1 FontAwesome;
    content: "\f002";
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 2;
    color: #fff;
    ms-transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
    background: #ef4749;
    padding: 15px 22px;
    ms-transform: translateX(-45%);
    -webkit-transform: translateX(-45%);
    transform: translateX(-45%);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.BlogFullImg a:hover:before {
    opacity: 1;
}
.BlogFullImg a:hover:after {
    visibility: visible;
    opacity: 0.8;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.blog-preview_info {
    padding: 15px 0 0;
    width: 100%;
}
.blog-preview_info ul {
    padding: 0 0px 8px;
}
.blog-preview_info ul li {
    display: inline-block;
    margin-right: 10px;
    color: #a7a7a7;
    text-transform: none;
    font-size: 13px;
}
.blog-preview_info ul li i {
    padding-right: 10px;
    color: #9c4f8f;
}
.blog-preview_info ul li a {
    margin-right: 5px;
    color: #a7a7a7;
}
.blog-preview_title a {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.3em;
    margin: auto;
    padding-bottom: 6px;
    color: #000;
    display: block;
    margin-bottom: 10px;
}
.blog-preview_desc {
    color: #666;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}
.BlogSection {
    margin-top: 95px;
}
.SideSearch {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    padding: 38px 28px;
    box-shadow: 0px 0px 11px 0px #ccc;
}
.blog-serchBox {
    width: 100%;
}
.blog-search-grid {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    position: relative;
}
.blog-search-grid input {
    border: 1px solid #808d9a;
    height: 50px;
    width: 100%;
    padding: 0 50px 0 20px;
    font-size: 14px;
    box-shadow: none;
    background: none;
    margin: 0;
    color: #818d9a;
    font-size: 14px;
}
.blog-search-grid button {
    color: #9c4f8f;
    font-size: 16px;
    border: 0;
    background: none;
    width: auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 20px 0 10px;
    line-height: 50px;
}
.rightside-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.rightside-title h6 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.divider-short {
    width: 55px;
}
.divider-line {
    display: inline-block;
    width: 96px;
    height: 2px;
    background:#4173da;
    margin: 0 0 15px 0;
}
.CategoryUL li {
    display: block;
    padding-bottom: 15px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 15px;
    position: relative;
    padding-left: 20px;
    margin-left: 0;
}
.CategoryUL li a {
    color: #212121;
}
.CategoryUL li i {
    position: absolute;
    left: 0;
    top: 6px;
    color: #9c4f8f;
}
.post-col.sk-first-post {
    padding-top: 0;
}
.post-col {
    width: 100%;
    padding: 22px 0 25px 0;
    border-bottom: 1px solid #ececec;
    color: #212121;
    transition: all 0.5s;
}
.post-col-img {
    float: left;
    width: 85px;
    margin-top: 8px;
}
.post-col-content {
    margin-left: 105px;
}
.post-col p {
    margin: 0;
    color: #212121;
}
.post-col p span {
    position: relative;
    display: block;
    color: #707070;
}
.post-col p .fa {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 14px;
    color:#9c4f8f;
    transform: translateY(-50%);
}
.latest-date span a {
    color: #707070;
        padding-left: 20px;
}
.post-cntant.BlogHeading {
    max-width: 480px;
}
.butn a.readmores.BlogRead {
    padding: 5px;
}
.tredng.Blogdetail {
    background: #fff;
    margin-bottom: 30px;
    height: 300px;
}
.post-bx.Blogimg {
    height: 300px;
    position: relative;
}
.post-bx.Blogimg p.Renttag {
    position: absolute;
    top: 0;
    color: #fff;
    left: 0;
    padding: 3px 15px;
    background: #4173da;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.from-tag h1 {
    font-size: 22px;
    margin-bottom: 30px;
    color: #9c4f8f;
}
.banner-widget img {
    width: 100%;
}
.BlogSocial .middle-top {
    float: unset;
    margin-right: 0;
    text-align: center;
}
.InstaFeeds img{
    width: 100%;
}
.col-md-3.InstaFeeds {
    padding: 4px;
}
/*--=============blog page css end===========--*/
section.Returnpolicy {
    background: #f1f1f1;
}
.PolicyInner h5 {
    margin-bottom: 20px;
    color: #9c4f8f;
}
.PolicyInner h5 i {
    margin-right: 10px;
}
.PolicyInner p {
    line-height: 28px;
    margin-bottom: 30px;
    padding-left: 40px;
    border-left: 2px solid#b14f8f;
    background: #ffff;
    padding: 30px;
}
/*--=============LOGIN page css START===========--*/
.ForgetDiv {
    margin-top: 45px;
    text-align: center;
}
a.forgot-pass {
    color: #9c4f8f;
    margin-right: 10px;
}
a.signup {
    color: #9c4f8f;
    margin-left: 10px;
}
/*--=============LOGIN page css end===========--*/

/*--=============OUR STORY page css START===========--*/
.StoryImg img {
    width: 100%;
}
.StoryIconBox {
    padding: 5px 0 0 100px;
    position: relative;
    margin-bottom: 40px;
}
.Sicon-wrapper {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    z-index: 1;
    transition: all 0.3s linear;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
.Sicon-wrapper:before {
    box-shadow: 0 0 0 50px #cf4177 inset;
    -webkit-box-shadow: 0 0 0 50px #cf4177 inset;
    -ms-box-shadow: 0 0 0 50px #cf4177 inset;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.Sicon-wrapper img {
    margin: 0 auto;
    right: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-35%);
    -webkit-transform: translateY(-35%);
    -moz-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transition: all 0.3s linear;
}
.Sicon-content h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.Sicon-content p {
    color: #888;
}
.StoryIconBox:hover .Sicon-wrapper:before {
    box-shadow: 0 0 0 2px #cf4177 inset;
    -webkit-box-shadow: 0 0 0 2px #cf4177 inset;
    -ms-box-shadow: 0 0 0 2px #cf4177 inset;
}
.StoryIconBox:hover .Sicon-wrapper img {
    filter: brightness(1) invert(1);
    -moz-filter: brightness(1) invert(1);
    -webkit-filter: brightness(1) invert(1);
    -ms-filter: brightness(1) invert(1);
}
.short-banner {
    background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    padding: 295px 0 280px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.short-banner:before {
    content: '';
    width: 100%;
    height: 295px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/10.png) no-repeat center;
    background-size: cover;
}
.short-banner h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    position: relative;
    z-index: 5;
    display: inline-block;
}
.short-banner .shape-one {
    position: absolute;
    left: 3%;
    bottom: 26%;
    z-index: -1;
}
.short-banner .shape-two {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8%;
    z-index: -1;
}
.short-banner a{
    margin-top: 20px;
}
/*--=============OUR STORY page css end===========--*/
/*--=============FREE JOIN page css end===========--*/
.SubscrptionBox {
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px 0;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
    -webkit-transition: -webkit-box-shadow .4s ease;
    transition: -webkit-box-shadow .4s ease;
    -o-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
    transition: box-shadow .4s ease, -webkit-box-shadow .4s ease;
}
.SubscrptionBoxImg {
     background: -moz-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -webkit-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -o-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: -ms-linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% );
    background-size: 200% auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 40px;
}
.SubscrptionBoxImg::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: -2px;
    left: 0;
    background-image: url(../images/decorated-feature.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 110%;
}
.SubscrptionBox {
    padding-bottom: 30px;
}
.SubscrptionBoxImg h6 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.SubscriptionPara ul {
    padding-top: 25px;
    /* padding-left: 20px; */
    margin-left: 12px;
}
.SubscriptionPara ul li {
    position: relative;
    margin-bottom: 12px;
    margin-left: 12px;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    margin-right: 11px;
    padding-left: 31px;
}
.SubscriptionPara ul li i {
    position: absolute;
    left: 0;
    top: 19px;
    color: #ad4a86;
}

/*============VIDEO PAGE CSS START======*/
.VideoCatDesMain h2 {
    text-align: center;
    margin-bottom: 35px;
}
.VideoCatIntro {
    /*border-bottom: 1px solid #ccc;*/
    padding-bottom: 15px;
    padding-top: 15px;
}
.VideoCatBr{
    border-bottom: 1px solid #fff;
    transition: all 0.5s;
}
.MainTabCourses {
    padding-bottom: 40px;
}
.MainByV {
    position: relative;
    padding-left: 60px;
}
.ByVideo img {
    display: inline-block;
    width: 100%;
    max-width: 45px;
    border-radius: 50%;
    position: absolute;
    left: 0;
}
.ByVideo p {
    display: inline-block;
    color: #cf417f;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 12px;
}
.ByVideo p span{
    color: #000;
    margin-right: 10px;
}
.ByVideo {
    padding-left: 17px;
    padding-bottom: 10px;
    transition: all 0.5s;
}
.VideoCatBr:hover {
    border-bottom: 1px solid #ccc;
}
.VideoCatIntro h5 {
    margin-bottom: 21px;
}
.VideoCatIntro h5 span {
    background:#bc4680;
    color: #fff;
    padding: 5px 10px;
    border-radius: 100px;
    margin-right: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.SInglCatLink a {
    color: #cf4177;
}
.channel-box:hover .SInglCatLink a {
    color: #fff;
}
section.CorsesSlideSec.TopThreeSection {
    margin-top: 70px;
}
div#OtherCourses {
    margin-top: 80px;
}
.TopVIdeoBox .TopThreeBox {
    margin-bottom: 50px;
    transition: all 0.5s;
}
.TopVIdeoBox .ReadMoreBanner {
    color: #da2a7c;
    border: 1px solid #bc4680;
    padding: 6px 10px;
    border-radius: 100px;
    transition: all 0.5s;
    margin-top: 23px;
    text-align: center;
}
.TopVIdeoBox .TopThreeBox:hover .ReadMoreBanner {
    color: #fff;
    border: 1px solid #fff;
}
.VideoMCatTab ul#pills-tab {
    justify-content: center;
}
.VideoMCatTab ul li a {
    color: #cf4177;
    border: 1px solid #d55e7b;
    margin-right: 22px;
    padding: 7px 20px;
}
.VideoMCatTab ul li a.active {
    background: linear-gradient(226deg ,rgb(237, 57, 105) 0% ,rgb(94, 96, 171) 100% ) !important;
    color: #fff;
}
.VideoPara ul li {
    display: inline-block;
}
.VideoPara ul li a {
    color: #4D4D4D;
}
.VideoPara ul li a {
    border: none;
    padding: 0;
    margin: 0;    
    color: #cf4177;
}
ul.VideoDisUl li {
    transition: all 0.5s;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 11px;
    padding-bottom: 10px;
}
ul.VideoDisUl li:hover {
    box-shadow: 0 12px 20px rgba(1, 84, 85, 0.1);
    transition: all 0.5s;
}
ul.VideoDisUl li a {
    color: #000;
    border: none;
    margin-bottom: 8px;
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: 16px;
}
ul.VideoDisUl li a.disabled {
    color: #868686;
}
ul.VideoDisUl li a i {
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 14px;
    color: #cf4177;
}
.TopReviews {
    padding: 20px;
    box-shadow: 3px 3px 14px -2px rgba(0,0,0,.3);
    background: #fff;
    margin: 0 12px 60px 0;
}
.TopReviews h2 {
    font-size: 15px;
    margin-bottom: 10px;
}
.ReviewDRating p {
    font-size: 38px;
}
.ReviewDRating p span{
    font-size: 18px;
    margin-left: 20px;
}
section.TopVideoSection {
    margin-bottom: 70px;
        /* justify-content: space-around;*/
}
.MainVideoCatHeading h2 {
    margin: 25px 0px;
    font-size: 22px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #333;
}
.VideoPara h4 {
    font-size: 16px;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.PDFUL ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 25px;
}
.PDFUL ul li i {
    position: absolute;
    left: 0px;
    color: #bb86b2;
    top: 5px;
    font-size: 15px;
}
.VideoUl ul li {
    display: inline-block;
    margin-right: 10px;
}
.VideoUl ul li a {
    color: #4D4D4D;
}
.VideoUl ul li a i {
    color: #aa4b88;
    margin-right: 10px;
}
.MyVCMainPage h1{
    font-size: 14px;
}
.MyVCMainPage h1 {
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #bb86b2;
    text-align: center;
    padding-top: 25px;
}
.vidBrdor{
    border: 1px solid #ccc;
}
ul.VideoDisUl .MainByV a {
    text-align: right;
    color: #a64d8a;
    font-size: 12px;
    border: 1px solid #cf52a7;
    width: 100%;
    max-width: 100px;
    margin-left: auto;
    /* margin: 0px auto; */
    border-radius: 100px;
    padding: 4px 0px;
    text-align: center;
    margin-top: 10px;
}
ul.VideoDisUl .MainByV a i{
    position: unset;
    font-size: 12px;
}
.MainVideoCatUl .middle-top {
    float: unset;
}
.TopVideoBox {
    padding: 0px 20px;
}
.Fenrol p{
    margin-top: 30px;
    margin-bottom: 25px;
}
/*============VIDEO PAGE CSS END======*/




































/*--=============FREE JOIN page css end===========--*/
#toTop {
    position: fixed;
    display: none;
    text-decoration: none;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 100px;
    height: 110px;
    border: none;
    text-indent: 100%;
    background: url(../images/download.png) no-repeat right bottom;
    z-index: 999;
    text-indent: -9999px;
    background-size: 80%;
    animation: fadeInUp 1.5s alternate infinite ease-in-out;
    -webkit-animation: fadeInUp 1.5s alternate infinite ease-in-out;
    -moz-animation: fadeInUp 1.5s alternate infinite ease-in-out;
    -ms-animation: fadeInUp 1.5s alternate infinite ease-in-out;
}
/*===========video custom css================*/