<section class="minibanner" style="background-image: url('assets/images/min-banner.jpg');">

         <div class="container">

            <div class="row">

               <div class="col-md-12 col-sm-12 col-12">

                  <div class="MiniBannerDiv" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">

                     <div class="MiniBannerContent">

                        <hr class="BeforeHr">

                        <h5>Video</h5>

                        <hr class="afterforeHr">

                     </div>

                  </div>

               </div>

            </div>

         </div>

      </section>

      <!-- =====contact banner Section======= -->

      <section class="VideoCatTabSec mrT70">

         <div class="container">

            <div class="VideoCatDesMain mrT70">

               <h2>What you will learn from this course</h2>

            </div>

            <div class="VideoMCatTab">

               <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                  <li class="nav-item">

                     <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">HTML Introduction</a>

                  </li>

                  <li class="nav-item">

                     <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">All Video</a>

                  </li>

                  <li class="nav-item">

                     <a class="nav-link" id="pills-Review-tab" data-toggle="pill" href="#pills-Review" role="tab" aria-controls="pills-Review" aria-selected="false">Review</a>

                  </li>

               </ul>

               <div class="tab-content" id="pills-tabContent">

                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                     <div class="VideoTabIntro mrT70">

                        <div class="row justify-content-center">

                           <div class="col-md-12 col-sm-12 col-12">

                              <div class="VideoCatIntro VideoCatBr">

                                 <h5>

                                    <!-- <span>1</span> -->HTML Introduction

                                 </h5>

                                 <p>This module introduces a powerful process for solving any programming problem—the Seven Steps. You will learn how to approach a programming problem methodically, so you can formulate an algorithm that is specific and correct. You will work through examples with sequences of numbers and graphical patterns to develop the skill of algorithm development.</p>

                                 <p>learn how to approach a programming problem methodically, so you can formulate an algorithm that is specific and correct. You will work through examples with sequences of numbers and graphical patterns to develop the skill of algorithm development.</p>

                              </div>

                           </div>

                        </div>

                     </div>

                  </div>

                  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

                     <div class="DesVideo mrT70">

                        <!--  <iframe width="100%" height="555" src="https://www.youtube.com/embed/iZXVseFWj9c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>-->

                           <div class="readbtn JoinBtnV  mrT70 text-center">

                                     <a href="main-courses-video.html" class="hvr-shutter-in-vertical">Join For All Videos <i class="fa fa-angle-right" aria-hidden="true"></i></a>

                                  </div> 

                     </div>

                     <div class="AllVideoDisable mrT70">

                        <div class="row">
                           <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="CatvidBox">
                                 <a href="#"><img src="assets/images/hqdefault.webp" class="img-fluid" alt="img"></a>
                                 <ul class="VideoDisUl">
                                    <li>
                                       <a href="#" id="panchor"><i class="fa fa-play-circle" aria-hidden="true"></i>learn how to approach a programming problem methodically</a>
                                       <div class="ByVideo">
                                          <div class="row">
                                             <div class=" col-md-12 col-sm-11 col-12" id="MainByVu">
                                                <div class="MainByV" id="MainByVh">
                                                   <img src="assets/images/t1.jpg" class="img-fluid" alt="Img">
                                                   <p><span>By</span>Being Gourav</p>
                                                   <p><span>Date</span>17-07-2020</p>
                                                </div>
                                             </div>

                                             <div class=" col-md-12 col-sm-12 col-12">
                                                <div class="MainByV MSeem">
                                                   <a href="faculty-single-video.html" class="JoinBtn">Watch Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </li>    
                                 </ul>
                              </div>
                           </div>
                           <!-- =================COLUMN FOUR END======== -->

                           <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="CatvidBox">
                                 <a href="#"><img src="assets/images/hqdefault2.webp" class="img-fluid" alt="img"></a>
                                 <ul class="VideoDisUl">
                                    <li>
                                       <a href="#" id="panchor"><i class="fa fa-play-circle" aria-hidden="true"></i>learn how to approach a programming problem methodically</a>
                                       <div class="ByVideo">
                                          <div class="row">
                                             <div class="col-md-12 col-sm-12 col-12" id="MainByVu">
                                                <div class="MainByV" id="MainByVh">
                                                   <img src="assets/images/t1.jpg" class="img-fluid" alt="Img">
                                                   <p><span>By</span>Being Gourav</p>
                                                   <p><span>Date</span>17-07-2020</p>
                                                </div>
                                             </div>

                                             <div class="col-md-12 col-sm-12 col-12">
                                                <div class="MainByV MSeem">
                                                   <a href="faculty-single-video.html" class="JoinBtn">Watch Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </li>    
                                 </ul>
                              </div>
                           </div>
                           <!-- =================COLUMN FOUR END======== -->

                           <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="CatvidBox">
                                 <a href="#"><img src="assets/images/hqdefault.webp" class="img-fluid" alt="img"></a>
                                 <ul class="VideoDisUl">
                                    <li>
                                       <a href="#" id="panchor"><i class="fa fa-play-circle" aria-hidden="true"></i>learn how to approach a programming problem methodically</a>
                                       <div class="ByVideo">
                                          <div class="row">
                                             <div class="col-md-12 col-sm-12 col-12" id="MainByVu">
                                                <div class="MainByV" id="MainByVh">
                                                   <img src="assets/images/t1.jpg" class="img-fluid" alt="Img">
                                                   <p><span>By</span>Being Gourav</p>
                                                   <p><span>Date</span>17-07-2020</p>
                                                </div>
                                             </div>

                                             <div class="col-md-12 col-sm-12 col-12">
                                                <div class="MainByV MSeem">
                                                   <a href="faculty-single-video.html" class="JoinBtn">Watch Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </li>    
                                 </ul>
                              </div>
                           </div>
                           <!-- =================COLUMN FOUR END======== -->

                           <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="CatvidBox">
                                 <a href="#" id="panchor"><img src="assets/images/hqdefault2.webp" class="img-fluid" alt="img"></a>
                                 <ul class="VideoDisUl">
                                    <li>
                                       <a href="#" id="panchor"><i class="fa fa-play-circle" aria-hidden="true"></i>learn how to approach a programming problem methodically</a>
                                       <div class="ByVideo">
                                          <div class="row">
                                             <div class="col-md-12 col-sm-12 col-12" id="MainByVu">
                                                <div class="MainByV" id="MainByVh">
                                                   <img src="assets/images/t1.jpg" class="img-fluid" alt="Img">
                                                   <p><span>By</span>Being Gourav</p>
                                                   <p><span>Date</span>17-07-2020</p>
                                                </div>
                                             </div>

                                             <div class="col-md-12 col-sm-12 col-12">
                                                <div class="MainByV MSeem">
                                                   <a href="faculty-single-video.html" class="JoinBtn">Watch Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </li>    
                                 </ul>
                              </div>
                           </div>
                           <!-- =================COLUMN FOUR END======== -->

                           <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="CatvidBox">
                                 <a href="#"><img src="assets/images/hqdefault.webp" class="img-fluid" alt="img"></a>
                                 <ul class="VideoDisUl">
                                    <li>
                                       <a href="#" id="panchor"><i class="fa fa-play-circle" aria-hidden="true"></i>learn how to approach a programming problem methodically</a>
                                       <div class="ByVideo">
                                          <div class="row">
                                             <div class="col-md-12 col-sm-12 col-12" id="MainByVu">
                                                <div class="MainByV" id="MainByVh">
                                                   <img src="assets/images/t1.jpg" class="img-fluid" alt="Img">
                                                   <p><span>By</span>Being Gourav</p>
                                                   <p><span>Date</span>17-07-2020</p>
                                                </div>
                                             </div>

                                             <div class="col-md-12 col-sm-12 col-12">
                                                <div class="MainByV MSeem">
                                                   <a href="faculty-single-video.html" class="JoinBtn">Watch Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </li>    
                                 </ul>
                              </div>
                           </div>
                           <!-- =================COLUMN FOUR END======== -->
                        </div>


                    

                     </div>

                  </div>

                  <div class="tab-pane fade" id="pills-Review" role="tabpanel" aria-labelledby="pills-Review-tab">

                     <!-- <div class="VideoCatIntro mrT70">

                        <h5>Review</h5>

                        <div class="VideoReviewDes">

                          <div class="VideoPara">

                                      <ul>

                                        <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                        <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                        <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                        <li><a href=""><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>

                                        <li><a href=""><i class="fa fa-star-o" aria-hidden="true"></i></a></li>

                                      </ul>

                                    </div>

                                    <div class="ReviewDRating">

                                      <p>4.0<span>309 Review</span></p>

                                    </div>

                           

                        </div>

                        

                        </div> -->

                     <div class="VideoCatIntro mrT70">

                        <h5>

                           <!-- <span>5</span> -->Top Review

                        </h5>

                        <div class="VideoReviewDes">

                           <div class="row">

                              <div class="col-md-4 col-sm-4 col-12">

                                 <div class="TopReviews">

                                    <h2>Student Name</h2>

                                    <p class="ReviewDate">July 7, 2020</p>

                                    <div class="VideoPara">

                                       <ul>

                                          <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                          <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                          <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                          <li><a href=""><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>

                                          <li><a href=""><i class="fa fa-star-o" aria-hidden="true"></i></a></li>

                                       </ul>

                                    </div>

                                    <p>learn how to approach a programming problem methodically, so you can formulate an algorithm that is specific and correct. You will work through examples with sequences of numbers and graphical patterns to develop the skill of algorithm development.</p>

                                 </div>

                              </div>

                              <div class="col-md-4 col-sm-4 col-12">

                                 <div class="TopReviews">

                                    <h2>Student Name</h2>

                                    <p class="ReviewDate">July 7, 2020</p>

                                    <div class="VideoPara">

                                       <ul>

                                          <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                          <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                          <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                          <li><a href=""><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>

                                          <li><a href=""><i class="fa fa-star-o" aria-hidden="true"></i></a></li>

                                       </ul>

                                    </div>

                                    <p>learn how to approach a programming problem methodically, so you can formulate an algorithm that is specific and correct. You will work through examples with sequences of numbers and graphical patterns to develop the skill of algorithm development.</p>

                                 </div>

                              </div>

                              <div class="col-md-4 col-sm-4 col-12">

                                 <div class="TopReviews">

                                    <h2>Student Name</h2>

                                    <p class="ReviewDate">July 7, 2020</p>

                                    <div class="VideoPara">

                                       <ul>

                                          <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                          <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                          <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                          <li><a href=""><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>

                                          <li><a href=""><i class="fa fa-star-o" aria-hidden="true"></i></a></li>

                                       </ul>

                                    </div>

                                    <p>learn how to approach a programming problem methodically, so you can formulate an algorithm that is specific and correct. You will work through examples with sequences of numbers and graphical patterns to develop the skill of algorithm development.</p>

                                 </div>

                              </div>

                           </div>

                           <div class="readbtn JoinBtnV  mrT70 text-center">

                              <a href="main-courses-video.html" class="hvr-shutter-in-vertical">See all Review <i class="fa fa-angle-right" aria-hidden="true"></i></a>

                           </div>

                           <section class="getintouch_sec">

                              <div class="container-fluid">

                                 <div class="row">

                                    <!--  <div class="col-lg-4 col-sm-12 aos-init aos-animate" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">

                                       <img src="assets/images/getintouch_img.png" alt="Get in touch image" class="img-fluid getintouch_img">

                                       </div> -->

                                    <div class="col-lg-6 col-sm-12 align-self-center aos-init aos-animate" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1800">

                                       <div class="getin_content">

                                          <div class="headein_top">

                                             <h2>

                                                Review 

                                                <span>

                                                   <!-- Touch -->

                                                </span>

                                             </h2>

                                          </div>

                                          <div class="LoginMain">

                                             <div class="LoginFrom aos-init aos-animate" data-aos="fade-down" data-aos-duration="3000">

                                                <form>

                                                   <div class="row justify-content-center">

                                                      <div class="col-md-10 col-sm-10 col-12">

                                                         <div class="VideoCatIntro">

                                                            <h5>

                                                               <!-- <span>5</span> -->Rating

                                                            </h5>

                                                            <div class="VideoReviewDes">

                                                               <div class="VideoPara">

                                                                  <ul>

                                                                     <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                                                     <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                                                     <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>

                                                                     <li><a href=""><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>

                                                                     <li><a href=""><i class="fa fa-star-o" aria-hidden="true"></i></a></li>

                                                                  </ul>

                                                               </div>

                                                               <!--  <div class="ReviewDRating">

                                                                  <p>4.0<span>309 Review</span></p>

                                                                  </div> -->

                                                            </div>

                                                         </div>

                                                      </div>

                                                      <div class="col-md-10 col-sm-10 col-12">

                                                         <div class="form-group LoginInput">

                                                            <label for="exampleInputEmail1">write your feedback</label>

                                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="write your feedback"></textarea>

                                                         </div>

                                                      </div>

                                                      <div class="col-md-10 col-sm-10 col-12">

                                                         <button type="submit" class="LoginInBtn">Submit</button>

                                                      </div>

                                                   </div>

                                                </form>

                                             </div>

                                          </div>

                                       </div>

                                    </div>

                                 </div>

                              </div>

                           </section>

                        </div>

                     </div>

                  </div>

               </div>

            </div>

         </div>

      </section>

      <section class="CorsesSlideSec TopThreeSection ThreeContPage TopVIdeoBox mrT70" data-aos="fade-up" data-aos-duration="3000">

         <div class="container">

            <div class="heading-testimonials text-center">

               <div class="headein_top headingCenter">

                  <h2>Other <span> Courses</span></h2>

               </div>

            </div>

            <div class="owl-carousel owl-theme" id="OtherCourses">

               <div class="item">

                  <div class="TopThreeBox aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1500">

                     <div class="TopImg ContIcon">

                        <i class="fa fa-map-marker" aria-hidden="true"></i>

                     </div>

                     <div class="TopImgContent">

                        <h3>Web Design</h3>

                        <span></span>

                        <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>

                        <a href="video-main-category.html" class="ReadMoreBanner">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>

                     </div>

                  </div>

               </div>

            </div>

         </div>

      </section>

      <!-- ============COUNTER END=========== -->