
.readbtn:hover{
 cursor: pointer;
}
.readbtn:hover a{
    color: white;
}
.JoinBtn:hover {  
 color: #a64d8a !important;
 cursor: pointer;
 text-decoration: underline!important;
}
a:not([href])
{
    color: #a64d8a;
}


/*#panchor{
    font-size: 12px;
    padding-right: 0px;
    margin-right: 10px;
 }
#MainByVu{
padding-left: 13px;
}
#MainByVh{
padding-left: 52px;
}
*/