 
 <!-- ===============MAIN BANNER START ============ -->
 <section class="main-banner-section mr-top100">
   <div class="owl-carousel owl-theme main-banner">
     <div class="item myitem" style="background: url(assets/images/slider-home-start-ups-slide-01-bg.png);">
       <div class="container">
         <div class="banner-content" data-aos="fade-up"
      data-aos-anchor-placement="top-bottom" data-aos-easing="linear"  data-aos-duration="1500">
           <div class="row">
             <div class="col-md-5 col-sm-5 col-12">
                <div class="SmallBannerContent">
                 <h1>result-driven creative agency.</h1>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p> 
                 <a href="#" class="read-moreBanner hvr-bubble-right">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>             
               </div>
             </div>
             <div class="col-md-7 col-sm-7 col-12">
               <div class="SmallBanner">
               <img src="assets/images/banner1.png" alt="image">
               </div>
             </div>
 
           </div>
         </div>
       </div>
     </div>
     <!-- ==========ITEM FIRST END====== -->
 
         <div class="item myitem" style="background: url(assets/images/slider-home-start-ups-slide-01-bg.png);">
       <div class="container">
         <div class="banner-content" data-aos="fade-up"
      data-aos-anchor-placement="top-bottom" data-aos-easing="linear" data-aos-duration="1700">
           <div class="row">
             <div class="col-md-5 col-sm-5 col-12">
                <div class="SmallBannerContent">
                 <h1>result-driven creative agency.</h1>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                 <a href="#" class="read-moreBanner hvr-bubble-right">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
               
               </div>
             </div>
             <div class="col-md-7 col-sm-7 col-12">
               <div class="SmallBanner">
               <img src="assets/images/banner2.png" alt="image">
               </div>
             </div>
 
           </div>
         </div>
       </div>
     </div>
     
     <!-- ==========ITEM FIRST END====== -->
         <div class="item myitem" style="background: url(assets/images/slider-home-start-ups-slide-01-bg.png);">
       <div class="container">
         <div class="banner-content" data-aos="fade-up"
      data-aos-anchor-placement="top-bottom" data-aos-easing="linear" data-aos-duration="1500">
           <div class="row">
             <div class="col-md-5 col-sm-5 col-12">
                <div class="SmallBannerContent">
                <h1>result-driven creative agency.</h1>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                 <a href="#" class="read-moreBanner hvr-bubble-right">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
               
               </div>
             </div>
             <div class="col-md-7 col-sm-7 col-12">
               <div class="SmallBanner">
               <img src="assets/images/banner3.png" alt="image">
               </div>
             </div>
 
           </div>
         </div>
       </div>
     </div>
     
     <!-- ==========ITEM FIRST END====== -->
 </div>
 </section>
   <!-- ==============BANNER SECTION END======== -->
   
   <section class="TopThreeSection">
     <div class="container">
       <div class="TopThree">
         <div class="row">
           <div class="col-md-4 col-sm-4 col-12">
             <div class="TopThreeBox active" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1500">
               <div class="TopImg">
                 <img src="assets/images/creative-blueactive.png" alt="images">
               </div>
   
                <div class="TopImgContent">
                <h3>Branding Consult</h3>
                <span></span>
                <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
                <a href="#" class="ReadMoreBanner">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
               </div>
             </div>
           </div>
           <!-- ========FIRST END========= -->
                <div class="col-md-4 col-sm-4 col-12">
             <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">
               <div class="TopImg">
                 <img src="assets/images/creative-blue.png" alt="images">
               </div>
   
                <div class="TopImgContent">
                <h3>Branding Consult</h3>
                <span></span>
                <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
                 <a href="#" class="ReadMoreBanner">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
               </div>
             </div>
           </div>
           <!-- ========SECOND END========= -->
                <div class="col-md-4 col-sm-4 col-12">
             <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="2500">
               <div class="TopImg">
                 <img src="assets/images/creative-blue.png" alt="images">
               </div>
   
                <div class="TopImgContent">
                <h3>Branding Consult</h3>
                <span></span>
                <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
                 <a href="#" class="ReadMoreBanner">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
               </div>
             </div>
           </div>
           <!-- ========THIRD END========= -->
         </div>
       </div>
     </div>
    </section>
 <section class="about-section ptop pbottom" style="background: url('assets/images/map2.png'); ">
     <div class="container">
          <div class="headein_top">
                 <h2>About <span> Us</span></h2>
              </div>
              <div class="row">
           <div class="col-md-6 col-12 col-sm-12">
              <div class="inner-columnpara">
                 <h1>What Else Do I Need To Keep In Mind?</h1>
                 <p> If your dry product weight has different size options, you need to consider how dense of a product you have. The more dense your product is, the smaller the container it will fit in.</p>
                 <p> Likewise, the less dense your product is, the larger the container you will need for it. Another rule of thumb is that the cleaner the grower of the product, the less dense your product will be.</p>
                <div class="readbtn">
                    <a routerLink="home/about" class="hvr-shutter-in-vertical" id="aboutus">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                 </div>
              </div>
           </div>
           <div class="image-column col-12 col-md-6 col-sm-6">
              <div class="AboutImg">
                 <div class="AbTBox" data-aos="fade-up"data-aos-easing="linear"
                    data-aos-duration="1500">
                    <a data-fancybox="gallery" href="assets/images/image-5.jpg" class="img-fluid" alt="Image">
                    <img src="assets/images/image-5.jpg" class="img-fluid" alt="Image">
                    </a>
                 </div>
                 <div class="AbTBox" data-aos="fade-up" data-aos-easing="linear"
                    data-aos-duration="1700">
                    <a data-fancybox="gallery" href="assets/images/image-6.jpg" class="img-fluid" alt="Image">
                    <img src="assets/images/image-6.jpg" class="image2" alt="Image">
                    </a>
                 </div>
                 <div class="video-link" data-aos="fade-up" data-aos-easing="linear"
                    data-aos-duration="1800"
                    data-aos-anchor-placement="center-center">
                    <a href="https://www.youtube.com/watch?v=e_WOEL6F1YE" class="link" data-fancybox="gallery" data-caption="">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
 
  <!--========ABOUT section END=============-->
 
  <section class="chanel-section mb-botm padding-t-half padding-b-half">
 
     <div class="container">
        <div class="headein_top">
           <h2>Our <span> Services</span></h2>
        </div>
        <div class="row channel-wrap ">
           <div class="col-md-3 col-sm-3 col-12" data-aos="fade-down"  data-aos-easing="linear"     data-aos-duration="1500">
              <div class="channel-box bgwhite shadow-2">
                 <!-- <div class="channel-tag">
                    <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                 </div> -->
                 <div class="channel-icon">
                  <i class="fa fa-graduation-cap red-1" aria-hidden="true"></i>
                    <!-- <i class="fa fa-television red-1" aria-hidden="true"></i> -->
                 </div>
                 <div class="channel-title">
                    <h5>Education</h5>
                 </div>
                 <div class="channel-disc">
                    <p>A Study Platform where Students can explore their knowledge.</p>
                 </div>
              </div>
           </div>
           <!-- =====================Frist Column ENd================== -->
           <div class="col-md-3 col-sm-3 col-12" data-aos="fade-down"  data-aos-easing="linear"   data-aos-duration="1600">
              <div class="channel-box bgwhite shadow-2">
                 <!-- <div class="channel-tag">
                    <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                 </div> -->
                 <div class="channel-icon">
                  <i class="fa fa-leanpub red-1" aria-hidden="true"></i>                        
                 </div>
                 <div class="channel-title">
                    <h5>Online Learning</h5>
                 </div>
                 <div class="channel-disc">
                    <p>A virtual Training approach to provide a solution anytime.</p>
                 </div>
              </div>
           </div>
           <!-- =====================Second Column ENd================== -->
           <div class="col-md-3 col-sm-3 col-12" data-aos="fade-down"  data-aos-easing="linear"   data-aos-duration="1700">
              <div class="channel-box bgwhite shadow-2">
                 <!-- <div class="channel-tag">
                    <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                 </div> -->
                 <div class="channel-icon">
                    <i class="fa fa-television red-1" aria-hidden="true"></i>
                 </div>
                 <div class="channel-title">
                    <h5>Web Development & SEO</h5>
                 </div>
                 <div class="channel-disc">
                    <p>We build Websites and provide SEO services to new & existing Websites.</p>
                 </div>
              </div>
           </div>
           <!-- =====================Third Column ENd================== -->
           <div class="col-md-3 col-sm-3 col-12" data-aos="fade-down"  data-aos-easing="linear"   data-aos-duration="1800">
              <div class="channel-box bgwhite shadow-2">
                 <!-- <div class="channel-tag">
                    <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                 </div> -->
                 <div class="channel-icon">
                  <i class="fa fa-pencil-square-o red-1" aria-hidden="true"></i>
                    
                 </div>
                 <div class="channel-title">
                    <h5>Blog Services</h5>
                 </div>
                 <div class="channel-disc">
                    <p>A page of productive Content, which leads to an appropriate Information.</p>
                 </div>
              </div>
           </div>
           <!-- =====================Fourth Column ENd================== -->
        </div>
        <!-- =====================Row ENd================== -->
        <div class="row channel-wrap m-top">
           <div class="col-md-3 col-xs-12" data-aos="fade-down"  data-aos-easing="linear"   data-aos-duration="1900">
              <div class="channel-box bgwhite shadow-2">
                 <!-- <div class="channel-tag">
                    <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                 </div> -->
                 <div class="channel-icon">
                  <i class="fa fa-book red-1" aria-hidden="true"></i>
                   
                 </div>
                 <div class="channel-title">
                    <h5>Hosting Services</h5>
                 </div>
                 <div class="channel-disc">
                    <p>We deliver Hosting Services at a very minimal price.</p>
                 </div>
              </div>
           </div>
           <!-- =====================Frist Column ENd================== -->
           <div class="col-md-3 col-xs-12" data-aos="fade-down"  data-aos-easing="linear"   data-aos-duration="2000">
              <div class="channel-box bgwhite shadow-2">
                 <!-- <div class="channel-tag">
                    <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                 </div> -->
                 <div class="channel-icon">
                    <i class="fa fa-television red-1" aria-hidden="true"></i>
                 </div>
                 <div class="channel-title">
                    <h5>Content Writing</h5>
                 </div>
                 <div class="channel-disc">
                    <p>We Offer Content writing Services as per your requirement.</p>
                 </div>
              </div>
           </div>
           <!-- =====================Second Column ENd================== -->
           <div class="col-md-3 col-xs-12" data-aos="fade-down"  data-aos-easing="linear"   data-aos-duration="2100">
              <div class="channel-box bgwhite shadow-2">
                 <!-- <div class="channel-tag">
                    <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                 </div> -->
                 <div class="channel-icon">
                    <i class="fa fa-television red-1" aria-hidden="true"></i>
                 </div>
                 <div class="channel-title">
                    <h5>Entertnment </h5>
                 </div>
                 <div class="channel-disc">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                 </div>
              </div>
           </div>
           <!-- =====================Third Column ENd================== -->
           <div class="col-md-3 col-xs-12" data-aos="fade-down"  data-aos-easing="linear"   data-aos-duration="2200">
              <div class="channel-box bgwhite shadow-2">
                 <!-- <div class="channel-tag">
                    <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                 </div> -->
                 <div class="channel-icon">
                    <i class="fa fa-television red-1" aria-hidden="true"></i>
                 </div>
                 <div class="channel-title">
                    <h5>Entertnment </h5>
                 </div>
                 <div class="channel-disc">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                 </div>
              </div>
           </div>
           <!-- =====================Fourth Column ENd================== -->
        </div>
 
        <div class="row justify-content-center">
          <div class="col-md-3 col-sm-3 col-12">
            <div class="readbtn mr50">
                    <a href="#" class="hvr-shutter-in-vertical">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                 </div>
          
            
          </div>
        </div>
        <!-- =====================Row ENd================== -->
     </div>
  </section>
 <!-- ==============SECTION SERVICES END======== -->
 
 <!-- ================ counter-wrper ================-->
 <section class="counter-wrper" style="background-image: url('assets/images/597555-PMT8T8-742.jpg');">
    <div class="container">
        <div class="counter-inner">
          <div class="headein_top headingCenter">
           <h2>Team and Mission <span> completes</span></h2>
        </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xl-3"  data-aos="fade-up" data-aos-duration="1500">
                    <div class="counter-box">
                      <img src="assets/images/teacher.png" alt="image" class="img-fulid">
                        <h1 class="count">03</h1>
                        <p>Certified Teachers</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xl-3" data-aos="fade-up" data-aos-duration="1800">
                    <div class="counter-box">
                      <img src="assets/images/time-and-date.png" alt="image" class="img-fulid">
                        <h1 class="count">10000</h1>
                        <p>Subscribers</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xl-3" data-aos="fade-up" data-aos-duration="2100">
                    <div class="counter-box">
                      <img src="assets/images/book.png" alt="image" class="img-fulid">
                        <h1 class="count">4</h1>
                        <p>Approved Subjects</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xl-3" data-aos="fade-up" data-aos-duration="2400">
                    <div class="counter-box">
                      <img src="assets/images/positive-comment.png" alt="image" class="img-fulid">
                        <h1 class="count">100000</h1>
                        <p>Happy Students</p>
                    </div>
                </div>
            </div>
            <div class="counter-ctnn">
                <p>Not all decisions are created equal; different types of decisions require different approaches. 
                    Yet making consistent good business decisions is a critical part of every executive’s job and is vital to every company’s
                </p>
            </div>
        </div>
    </div>
 </section>
  <!-- ================ counter-wrper ================-->
 
 
  <section class="testimonials mrT70" data-aos="fade-up" data-aos-duration="3000">
     <div class="container">
        <div class="heading-testimonials text-center">
          <div class="headein_top headingCenter">
           <h2>What Our <span> Customers Saying</span></h2>
        </div>
           
        </div>
   
        <div class="owl-carousel owl-theme" id="testimonialsmy">
           <div class="item">
            <div class="row justify-content-center">
              <div class="col-md-8 col-sm-8 col-12">
                  <div class="customer-block">
                    <p>This Website is Awesome...</p>
                    <div class="clearfix">
                       <img src="assets/images/client.jpg" alt="" class="customer-img">
                       <div class="customer-info">
                          <h5 class="name">Anil Kumar</h5>
                          <span>Developer</span>
                       </div> <!-- /.customer-info -->
                    </div>
                 </div> 
              </div>
            </div>
              
           </div>
           <div class="item">
            <div class="row justify-content-center">
              <div class="col-md-8 col-sm-8 col-12">
              <div class="customer-block">
                    <p>"Technology has made it easier for students to learn with devices new, but nothing can come close to the experience of being taught by an inspirational teacher like you. Thank you so much Gourav Sir. "</p>
                    <div class="clearfix">
                       <img src="assets/images/client.jpg" alt="" class="customer-img">
                       <div class="customer-info">
                          <h5 class="name">Akshay Saxena</h5>
                          <span>Happy Student</span>
                       </div> <!-- /.customer-info -->
                    </div>
                 </div>   
           </div>
         </div>
       </div>
                  <div class="item">
                    <div class="row justify-content-center">
              <div class="col-md-8 col-sm-8 col-12">
              <div class="customer-block">
                    <p>"To the world you may be just a teacher but to your student you are a hero". Thank you Gourav Sir... "</p>
                    <div class="clearfix">
                       <img src="assets/images/client.jpg" alt="" class="customer-img">
                       <div class="customer-info">
                          <h5 class="name">Deeksha Bundela</h5>
                          <span>Happy Student</span>
                       </div> <!-- /.customer-info -->
                    </div>
                 </div>   
           </div>
         </div>
       </div>
        </div>
     </div>   
  </section>
 <!-- ============COUNTER END=========== -->
 
          <section class="news_sec">
 <div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 p-0" data-aos="fade-down" data-aos-easing="linear"  data-aos-duration="1500">
      <div class="our_goal">
        <div class="headein_top">
           <h2>Contribute and <span> Pay</span></h2>
        </div>
        <div class="PayBk">
          <img src="assets/images/payment.png" alt="News image" class="img-fluid goal_img">
        </div>
        
        <h5>Lorem Ipsum is simply dummy.</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
       <div class="readbtn mr50">
                    <a href="#" class="hvr-shutter-in-vertical">Join Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                 </div>
      </div>
    </div>
    <div class="col-lg-7 col-sm-12 p-0">
      <div class="transport_news">
       <div class="headein_top">
           <h2>Our <span>News</span></h2>
        </div>
        <div class="row" data-aos="flip-left"   data-aos-easing="ease-out-cubic" data-aos-duration="2000">
          <div class="col-lg-5 col-sm-12">
            <img src="assets/images/news_img1.png" class="img-fluid news_img" alt="news image">
          </div>
          <div class="col-lg-7 col-sm-12">
            <div class="new_content">
              <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</h5>
              <p> Lorem Ipsum is simply dummy text of  industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
 
              <div class="readbtn hits_sec">
                   <div class="readbtn mr50">
                    <a href="#" class="hvr-shutter-in-vertical">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                 </div>
                     <!-- <p><i class="fa fa-user" aria-hidden="true"></i> 7155 hits</p> -->
                 </div>
             
            </div>
          </div>
        </div>
        <br>
        <div class="row" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
          <div class="col-lg-5 col-sm-12">
            <img src="assets/images/news_img2.png" class="img-fluid news_img" alt="news image">
          </div>
          <div class="col-lg-7 col-sm-12">
            <div class="new_content">
              <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
              <p>Lorem Ipsum is simply dummy text of  typesetting.industry Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <div class="readbtn hits_sec">
                   <div class="readbtn mr50">
                    <a href="#" class="hvr-shutter-in-vertical">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                 </div>
                     <!-- <p><i class="fa fa-user" aria-hidden="true"></i> 7155 hits</p> -->
                 </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
 </section>
 <!-- ======================BLOG SECTION END======= -->
   <!-- ======================GET IN TOUCH SECTION START======= -->
   <section class="getintouch_sec">
     <div class="container-fluid">
       <div class="row">
         <div class="col-lg-4 col-sm-12" data-aos="fade-down" data-aos-easing="linear"  data-aos-duration="1500">
           <img src="assets/images/getintouch_img.png" alt="Get in touch image" class="img-fluid getintouch_img">
         </div>
         <div class="col-lg-6 col-sm-12 align-self-center" data-aos="fade-down" data-aos-easing="linear"  data-aos-duration="1800" style="padding-bottom: 20px;">
           <div class="getin_content">
            <div class="headein_top">
                <h2>Get in <span>Touch</span></h2>
             </div>
                      <div class="LoginMain">
                      
                         <div class="LoginFrom aos-init aos-animate" data-aos="fade-down" data-aos-duration="3000">
                            <form>
                               <div class="row justify-content-center">
                                  <div class="col-md-12 col-sm-12 col-12">
                                     <div class="form-group LoginInput">
                                        <label for="exampleInputEmail1">enter Full Name</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="random@gmail.com">               
                                     </div>
                                  </div>
                                  <div class="col-md-12 col-sm-12 col-12">
                                     <div class="form-group LoginInput">
                                        <label for="exampleInputEmail1">enter email</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="random@gmail.com">               
                                     </div>
                                  </div>
                                  <div class="col-md-12 col-sm-12 col-12">
                                     <div class="form-group LoginInput">
                                        <label for="exampleInputEmail1">message (if any)</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="write your message"></textarea>
                                     </div>
                                  </div>
                               
                               <div class="col-md-12 col-sm-12 col-12">
                                  <button type="submit" class="LoginInBtn">Submit</button>
                               </div>
                               </div>
                         </form></div>
                      </div>
                      
               
             
           </div>
         </div>
       </div>
     </div>
   </section>
 <!-- ======================GET IN TOUCH SECTION END======= -->
 
 